<p id="notice"><%= notice %></p>

<p>
  <strong>Block:</strong>
  <%= @palm.block %>
</p>

<p>
  <strong>Number:</strong>
  <%= @palm.number %>
</p>

<p>
  <strong>Sph:</strong>
  <%= @palm.sph %>
</p>

<p>
  <strong>River:</strong>
  <%= @palm.river %>
</p>

<p>
  <strong>Road:</strong>
  <%= @palm.road %>
</p>

<p>
  <strong>Year planted:</strong>
  <%= @palm.year_planted %>
</p>

<%= link_to 'Edit', edit_palm_path(@palm) %> |
<%= link_to 'Back', palms_path %>
